<div class="inner">
  <div class="top">
    <div class="info">
      <div class="info_box">
        <p>정보</p>
        <ul>
          <li>사이트 운영자 : 주식회사 러쉬코리아</li>
          <li>대표이사 : 우미령</li>
          <li>사업자 등록번호 : 201-81-77964 사업자 정보확인</li>
          <li>통신판매업 신고 번호 : 2012-서울 서초 -0647</li>
          <li>개인정보보호책임자 : 장승웅</li>
        </ul>
      </div>
      <div class="info_box">
        <p>고객지원</p>
        <ul>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">영상정보관리지침</a></li>
        </ul>
      </div>
      <div class="info_box">
        <p>고객센터</p>
        <ul>
          <li>webmaster@lush.co.kr</li>
        </ul>
      </div>
      <div class="info_box">
        <p>기업선물</p>
        <ul>
          <li>order@lush.co.kr</li>
        </ul>
      </div>
      <div class="info_box">
        <p>러쉬 앱 다운받기</p>
        <ul class="app">
          <li>
            <a href="#">
              <img src="/static/img/logo/apple_store.png" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/static/img/logo/google_play.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="address">
      <div class="info_box">
        <p>주소</p>
        <ul>
          <li>서울 강남구 학동로</li>
          <li>(메이트리 빌딩(matree B / D)) 1층</li>
          <li>주식회사 러쉬 코리아</li>
        </ul>
      </div>
    </div>
    <div class="sns">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer_logo">
    <img src="" />
  </div>
</div>
