<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>러쉬 소개</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="https://hyenny0.github.io/re_lush/static/css/main.css" />
  </head>
  <body>
    <section class="sub_visual sub5_1_visual">
      <div class="sub_visual__title">
        <h5>lush</h5>
        <h4>기업 구매 / 협업 문의</h4>
        <p>소중한 직원과 고객을 위한 가치 있는 선물</p>
      </div>
      <div class="deemd"></div>
    </section>

    <div id="subLayout">
      <h5 class="sub_title">Enterprise Purchase/Collaboration Inquiries</h5>
      <div class="erer">
        <div class="img_container">
            <img src="/static/img/content/sub5_1_content_img_1.png">
        </div>
        <div class="text_group">
            <p data-aos="fade-up" data-aos-duration="1500" class="content_text">직원과 클라이언트에게 깊은 인상을 남겨줄 선물을 찾고 계시나요? 러쉬의 시그니처 향기와 에티컬 스토리가 여러분의 기업 가치를 더욱 높이고, 잊지 못할 순간을 선물할 거랍니다.</p>
            <p data-aos="fade-up" data-aos-duration="1500" class="content_text">기업 선물, 좀 더 특별할 순 없을까요? 러쉬의 기프트 제품은 다채로운 에티컬 스토리와 다양한 가격대 및 구성으로 이루어져 탁월한 고객 맞춤형 선물이 되어줄 거랍니다. ‘나’에게 딱 맞는 선물을 받은 고객의 놀라움과 감동을 상상해 보세요!</p>
            <p data-aos="fade-up" data-aos-duration="1500" class="content_text">기업용 선물 관련 문의는 이메일로 문의 주세요. 문의에 대한 답변은 영업일 기준 5일 정도 소요될 수 있습니다. 감사합니다.</p>
        </div>
        <div class="btn_group">
            <button class="report_download">
              <p>러쉬 제품 소개서 다운받기</p>
              <i class="bi bi-arrow-right"></i>
            </button>
            <button class="report_download">
              <p>기업 대량 구매 문의하기</p>
              <i class="bi bi-arrow-right"></i>
            </button>
            <button class="report_download">
                <p>마케팅 협업 문의하기</p>
                <i class="bi bi-arrow-right"></i>
              </button>
          </div>
      </div>
    </div>

    <script>
      AOS.init();
    </script>
  </body>
</html>
