<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>러쉬 소개</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="https://hyenny0.github.io/re_lush/static/css/main.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="sub_visual sub3_1_visual">
      <div class="sub_visual__title">
        <h5>lush</h5>
        <h4>소개</h4>
        <p>러쉬의 선한 영향력보고서</p>
      </div>
      <div class="deemd"></div>
    </section>

    <div id="subLayout">
      <h5 class="sub_title">Introduction</h5>
      <div class="introduction_wrap">
        <div class="title_wrap">
          <h5
            data-aos="fade-up"
            data-aos-duration="1500"
            class="sub_content_title"
          >
            스파소개
          </h5>
          <p data-aos="fade-up" data-aos-duration="1500" class="content_text">
            감성 스파라 불리는 러쉬 스파는 총 14가지 트리트먼트가 있으며
            트리트먼트별 각기 다른 음악과 놀라운 퍼포먼스가 함께 진행됩니다.
          </p>
          <p data-aos="fade-up" data-aos-duration="1500" class="content_text">
            자연에서 얻어진 소리와 오케스트라와 같은 멋진 협주곡으로 숲속 또는
            바다로의 여행을 떠날 수 있으며 유럽적인 터치와 환상의 퍼포먼스로
            러쉬 스파가 영국 전원의 정취와 함께 진정한 의미의 휴식을 선사합니다.
          </p>
        </div>

        <div class="content_img">
          <img src="https://hyenny0.github.io/re_lush/static/img/content/sub3_1_content_img_1.png" />
        </div>

        <div class="btn_group">
          <button class="report_download">
            <p>나에게 맞는 스파 트린트먼트 찾기</p>
            <i class="bi bi-arrow-right"></i>
          </button>
          <button class="report_download">
            <p>나에게 맞는 스파 트리트먼트 조합 찾기</p>
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>

      <div class="best_treatment">
        <h5
          data-aos="fade-up"
          data-aos-duration="1500"
          class="sub_content_title"
        >
          베스트 트리트먼트
        </h5>
        <div class="best_treatment__container">
          <div class="img-container">
            <img src="https://hyenny0.github.io/re_lush/static/img/content/sub3_1_content_img_2.png" />
          </div>
          <div class="title_box">
            <div>
              <span data-aos="fade-up" data-aos-duration="1500">The good hour</span>
              <h5 data-aos="fade-up" data-aos-duration="1500" class="sub_content_title">더굿아워</h5>
              <p data-aos="fade-up" data-aos-duration="1500" class="content_text">
                충분한 이완, 자유로운 몸과 마음, 온전한 휴식
              </p>
            </div>
            <p data-aos="fade-up" data-aos-duration="1500" class="content_text">
              러쉬에서 가장 인기있는 전신 마사지 몸의 긴장을 풀어주는 더 굿
              아워는 적당한 압이 함께하는 트린트먼트예요. 70분감의 딥 티슈
              마사지는 지친 근육의 뻐근함과 오랜 근심으로부터 당신을 해방시켜
              드립니다.
            </p>
            <div class="explain_wrap">
              <div class="explain">
                <p>소요시간</p>
                <p>컨설테이션 15분 + 트리트먼트 70분</p>
              </div>
              <div class="explain">
                <p>네이키드 레벨 3</p>
                <p>속옷만 남겨 둔 채 이불 속으로</p>
              </div>
            </div>
            <button class="report_download">
              <p>나에게 맞는 스파 트리트먼트 조합 찾기</p>
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>

    <script>
      AOS.init();
    </script>
    <script>
        $(function () {
          $("footer").load("../base/footer.html");
        });
    </script>
  </body>
</html>
