<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>러쉬소개</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <section class="sub_visual">
        <div class="sub_visual__title">
            <h5>lush</h5>
            <h4>러쉬 소개</h4>
            <p>프레쉬 핸드메이드 코스메틱 브랜드의 시작</p>
        </div>
        <div class="deemd"></div>
    </section>
    <div id="subLayout">
        <h5 class="sub_title">Introducing LUSH</h5>
        <div class="content_img_wrap">
            <div class="deemd"></div>
            <img src="/static/img/content/sub_content.png">
            <div class="img_title">
                <p>
                    "러쉬는 자연에서 얻은 신선한 재료와
                    동물실험을 하지 않은 정직한 재료를 사용하여
                    모든 제품을 손으로 만듭니다."
                </p>
                <span>더불어 공정 거래, 인권 보호, 포장 최소화 등 다양한캠페인 활동을 통해
                    기업 윤리와 신념을 알리고 있습니다.
                </span>
            </div>
        </div>
        <div class='swiper-custom'>
            <div class='swiper-wrapper'>
                <div class="swiper-slider current-step">
                    <img src="/static/img/content/sub1_1_imgSlider1.png">
                    <h5>러쉬는 어떤 이유에서도 제품을 동물실험 하지 않고,
                        동물실험을 거친 원재료조차 사용하지 않습니다.
                    </h5>
                    <p>직접 구매팀을 운영하며, 엄격한 기준을 바탕으로
                        윤리적인 공정 여부를 확인합니다.
                        믿을 수 있는 생산자로부터 지거래를 원칙으로 합니다.
                    </p>
                </div>
                <div class='swiper-slider next-step'>
                    <img src="/static/img/content/sub1_1_imgSlider2.png">
                    <h5>러쉬는 어떤 이유에서도 제품을 동물실험 하지 않고,
                        동물실험을 거친 원재료조차 사용하지 않습니다.
                    </h5>
                    <p>직접 구매팀을 운영하며, 엄격한 기준을 바탕으로
                        윤리적인 공정 여부를 확인합니다.
                        믿을 수 있는 생산자로부터 지거래를 원칙으로 합니다.
                    </p>
                </div>
                <div class='swiper-slider prev-step'>
                    <img src="/static/img/content/sub1_1_imgSlider3.png">
                    <h5>러쉬는 어떤 이유에서도 제품을 동물실험 하지 않고,
                        동물실험을 거친 원재료조차 사용하지 않습니다.
                    </h5>
                    <p>직접 구매팀을 운영하며, 엄격한 기준을 바탕으로
                        윤리적인 공정 여부를 확인합니다.
                        믿을 수 있는 생산자로부터 지거래를 원칙으로 합니다.
                    </p>
                </div>
            </div>
            <a href='#' id='prev'><span>prev</span></a>
            <a href='#' id='next'><span>next</span></a>
        </div>
    </div>
    <script src="/static/js/imgSlider.js"></script>
</body>
</html>