<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이념과 가치</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <section class="sub_visual sub1_3_visual">
      <div class="sub_visual__title">
        <h5>lush</h5>
        <h4>이념과 가치</h4>
        <p>프레쉬 핸드메이드 코스메틱 브랜드의 시작</p>
      </div>
      <div class="deemd"></div>
    </section>

    <div id="subLayout">
      <h5 class="sub_title">Ideology and Values</h5>
      <div class="values_wrapper">
        <div class="top">
            <div class="value_title">
                <p class="sub_content_title-xl">
                    유기농 과일과 채소, 최상의 에센셜 오일,그리고
                </p>
                <p class="sub_content_title-xl">
                    안전한 합성 원료로 신선하고 효과적인
                </p>
                <p class="sub_content_title-xl">
                    제품을 만들 수 있음을 믿습니다.
                </p>
            </div>

            <div class="value_group">
                <div>
                    <h5 class="sub_content_title-l">우리는 믿습니다</h5>
                    <p class="content_text">
                        우리는 베지테리언 원료만을 선별하여 손으로 직접 제품을 만들고 최소한의 포장과 보존제를 사용하며, 고객에게 제품이 언제 만들어 졌는지 투명히 알리는 것이 옳다고 믿습니다.
                    </p>
                </div>
    
                <div>
                    <h5 class="sub_content_title-l">우리는 믿습니다</h5>
                    <p class="content_text">
                        우리는 동물실험을 하지 않는 회사들로부터 윤리적인 원료를 구입하고 인체에 테스트함으로써, 세상에 필요한 제품을 만들 수 있다고 믿습니다.
                    </p>
                </div>
    
                <div>
                    <h5 class="sub_content_title-l">우리는 믿습니다</h5>
                    <p class="content_text">
                        우리는 행복한 사람이 행복한 제품을 만들고, 제조자의 얼굴 스티커를 제품 라벨에 붙임으로써 자부심을 가질 수 있다고 믿습니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="img_container"></div>
            <div class="text_container">
                <p class="content_text">은은한 촛불 아래서 즐기는 입욕이나, 사랑하는 이에게 마사지해 줄 때의 향기가 결국 세상을 아름답게 변화시킬 수 있음을 믿습니다.</p>
                <div>
                    <p class="content_text">실수를 하거나 모든 것을 잃고서도 당당히 다시 일어날 수 있음을 믿습니다.</p>
                    <p class="content_text">우리는 모든 사람이 전 세계 어디든 자유롭게 이동하며, 새로운 삶의 터전을 마련할 수 있다고 믿습니다.</p>
                </div>
                <p class="content_text">우리의 제품에 담긴 올바른 가치를 통해 수익을 창출한다는 것을 믿으며, 고객이 항상 옳다는 사실을 믿습니다. </p>
            </div>
            <h5 class="sub_content_title">우리는 '신선함', '유기농'이라는 단어가 마케팅 적 의미 그 이상의 정직함을 지닌다고 믿습니다.</h5>
            <span>#LushLife</span>
        </div>
      </div>
    </div>

    <script>
      AOS.init();
    </script>
  </body>
</html>
