@charset "UTF-8";
@font-face {
    font-family: 'LushFont';
    src: url('/static/font/lush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import "./base/reset";
@import "./base/variables";
@import "./components/subVisual";
@import "./components/contentImg";
@import "./components/button";
@import "./components/imgSlider";
@import "./components/swiperSlider";
@import "./layout/sub";
@import "./page/subPage";
@import "./layout/header";
@import "./layout/footer";
@import "./utils/mixins"; 