.content_text{
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0,0.8);
    line-height: 1.4;
    word-break: keep-all;
}

.sub_content_title{
    font-weight: 500;
    font-size: 28px;
}