$primary-gold : #D4A246;
$primary-bg-blue : #E6F4FF;
$primary-bg-gray : #f8f8f9;

//grey
$grey-900 : #131927;
$grey-800 : #212936;
$grey-700 : #394050;
$grey-600 : #4D5461;
$grey-500 : #6D717F;
$grey-400 : #9EA2AE;
$grey-300 : #D2D5DB;
$grey-200 : #E5E7EA;
$grey-100 : #F3F4F6;
$grey-50 : #F9FAFB;

//grey v_2
$grey2-25 : #F8F8F9;
$grey2-50 : #EEEEEF;
$grey2-300 : #ABABB2;
$grey2-400 : #8B8B95;
$grey2-500 : #6D6D79;
$grey2-800 : #33333B;
$grey2-900 : #25252B;
$grey2-1000 : #081B3A;

//blue v_2
$blue2-600 : #BED7FD;
$blue2-200 : #BED7FD;
$blue2-50 : #E9F1FE;

//alert
$text-negative :#FF5244;

//tag
$tag-red : #EE443F;
$tag-bg-red : #FDECEC;
$tag-yellow : #FFAA00;
$tag-bg-yellow : #FFF7E6;
$tag-green : #43B75D;
$tag-bg-green : #ECF8EF;
$tag-blue : #0095FF;
$tag-bg-blue : #E6F4FF;
$tag-purple : #4E61F6;
$tag-bg-purple : #EEF0FF;
$tag-deep-purple : #3745AF;

//Table
$control-btn-color: #E9F1FE;
$table-row-color: #F7F9FB;
$nav-tab-color: #F5F5F5;

//breakpoint
$breakpoint-mobile: 300px;
$breakpoint-tablet: 750px;
$breakpoint-tablet02: 768px;
